@{
    ViewBag.Title = "Devices";
}

<h2>Devices</h2>

<p>
	<a href="@Url.Action("Create", "Device")" class="btn btn-warning btn-fab btn-raised mdi-content-add addButton"></a>
	@*
	@Html.ActionLink("", "Create", new { controller = "Device"}, new { @class = "btn btn-warning btn-fab btn-raised mdi-action-grade" })*@
</p>

<div class="row">
    <div id="replacetarget">
        @{ Html.RenderAction("List", "Device"); }
    </div>
</div>

<script type="text/javascript">
    var myVar = setInterval(myTimer, 10000);

    function myTimer() {
        $('#replacetarget').load('@Url.Action("List")');
    }
</script>
