@{
    ViewBag.Title = "Devices";
}

<h2>Devices</h2>

<p>
    @Html.ActionLink("Add new", "Create")
</p>

<div class="row">
    <div id="replacetarget">
        @{ Html.RenderAction("List", "Device"); }
    </div>
</div>

<script type="text/javascript">
    var myVar = setInterval(myTimer, 10000);

    function myTimer() {
        $('#replacetarget').load('@Url.Action("List")');
    }
</script>