
@{
    ViewBag.Title = "Graphs";
}

<h1 style="padding-bottom: 20px;">Graphs for your devices</h1>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);

    window.graphData = {};

    window.options = {
    	title: 'Temperature in celsius',
    	isStacked: false,
    	width: 1000,
    	height: 400,
    	backgroundColor: {
    		stroke: 'black',
    		strokeWidth: 1
    	},
    	colors: ['red', 'grey'], //colors:['red','#004411']. // Здесь цвета для каждого графика в любом формате
    	hAxis: { title: 'Time', titleTextStyle: { color: '#333' } },
    	vAxis: { minValue: 0 }
    };

    function drawChart() {
    	

	    $.ajax({
		    url: "@Url.Action("GetTemperatures")",
		    dataType: "json",
		    contentType: "application/json"

	    }).done(function(jsonData) {
	    	var data = [];
		    var names = [];
		    for (var i = 0; i < jsonData.length; ++i) {
		    	data[i] = window.google.visualization.arrayToDataTable(jsonData[i].value);
			    names[i] = jsonData[i].name;
		    }

		    var width = $(".graphImage").width();
		    window.options.width = width;

		    window.graphData = { Points: data, Names: names, Count: jsonData.length };

		    drawGraphics(data, jsonData.length, names, window.options);

	    });

    }

    $(document).ready(function() {
    	$(window).on("resize", function () {
    		var width = $(".graphImage").width();
    		window.options.width = width;

    		drawGraphics(window.graphData.Points, window.graphData.Count, window.graphData.Names, window.options);
    	});
    });

	function drawGraphics(data, count, names, options) {
		for (var i = 0; i < count; ++i) {
			$('#chart_label' + i).text("Graph for: " + names[i]);
			$('#chart_div' + 0 + '.graphImage').empty()
			var chart = new window.google.visualization.AreaChart(document.getElementById('chart_div' + i));
			chart.draw(data[i], options);
		}
	}
</script>


@for (var i = 0; i < ViewBag.DevicesCount; i++)
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 id="@string.Format("chart_label{0}", i)"></h3>
		</div>
		<div class="panel-body">
			<div class="graphImage" id="@string.Format("chart_div{0}",i)"></div>
		</div>
	</div>
}